#footer{
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bolder;
    border-top: solid 10px white;
}
.footer-body{
    color: #0d74a2;
    text-align: center;
    line-height: 2;
}
.icon-contacts{
    display: flex;
    gap:5px;
    justify-content: center;
}
.icon-contact-item{
    cursor: pointer;
}
.icon-contact-item:hover{
    color: whitesmoke;

}
@media (max-width:341px) {
    #footer{
        height: 15vh;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-weight: bolder;
        border-top: solid 10px white;
    }
}