html {
  scroll-behavior: smooth;
}

body{
  background-color: #041c32;
  color: white;
  /* font-family: 'Nanum Gothic Coding', monospace; */
  font-family: 'Rajdhani', sans-serif;
  /* Letter gothic std */
}
